.layout {
  padding-top: 72px;

  @container (width <=@phone-width) {
    padding-bottom: 56px;
  }

  >header {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 1000;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter : blur(24px);

    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 16px 24px;

    >h1 {
      >a {
        font-family: "DominoBrick";
        font-size  : 28px;
        display    : flex;
        align-items: center;
        gap        : 12px;

        @container (width <=@phone-width) {
          >span {
            display: none;
          }
        }

        >img {
          height: 40px;
        }
      }
    }
  }
}